/* Topo */
header{
  height: 50px;
  width: 100%;
  background-color: black;
}


/* Meio */
.meio{
  display: flex;
  justify-content: space-between;

}

.barra-esquerda{
  height: 500px;
  width: 100px;
  background-color: black;
}

aside{
  height: 500px;
  width: 300px;
  background-color: grey;
}
