<app-navbar></app-navbar>
<app-menu-lateral></app-menu-lateral>
<div class="p-4 sm:ml-64 bg-gray-100">
  <div class="flex content-center justify-between items-center bg-gray-100 mt-[80px]">
    <app-breadcrumb-disciplina></app-breadcrumb-disciplina>
    <app-barra-pesquisa></app-barra-pesquisa>
  </div>
  <div class="ml-8 mt-4 mb-8">
    <app-track-page-disciplina></app-track-page-disciplina>
  </div>
  <div class="flex content-center justify-between items-center bg-gray-100 ml-8">
    <app-buscar-disciplina></app-buscar-disciplina>
    <app-btn-modal-criar-disciplina></app-btn-modal-criar-disciplina>
  </div>
  <div class="ml-8">
    <app-gerenciamento-disciplina-components></app-gerenciamento-disciplina-components>
  </div>
</div>