<app-navbar></app-navbar>
<app-menu-lateral></app-menu-lateral>
<div class="p-4 sm:ml-64 bg-gray-100">
  <div class="flex justify-between items-center bg-gray-100 mt-20">
    <xng-breadcrumb class="ml-5">
      <ng-container *xngBreadcrumbItem="let breadcrumb">
        <ng-container>{{ breadcrumb }}</ng-container>
      </ng-container>
    </xng-breadcrumb>
    <app-barra-pesquisa></app-barra-pesquisa>
  </div>
  <div class="mt-4 flex justify-end">
    <app-btn-modal-criar-projeto></app-btn-modal-criar-projeto>
  </div>
  <div class="mt-5 ml-5">
    <app-home-arquivos-components></app-home-arquivos-components>
  </div>
</div>