<app-navbar></app-navbar>
<div class="p-4 sm:ml-64 bg-gray-100">
  <div id="SidBar" class="col-span-2">
    <app-menu-lateral></app-menu-lateral>
  </div>
  <div class="flex content-center justify-between items-center bg-gray-100 mt-[80px] mb-8">
    <app-breadcrumb-home></app-breadcrumb-home>
    <app-barra-pesquisa-projeto></app-barra-pesquisa-projeto>
  </div>
  <div class="flex justify-end content-center items-center bg-gray-100">
    <app-modal-criar-projeto></app-modal-criar-projeto>
  </div>
  <div>
    <app-home-arquivos-components></app-home-arquivos-components>
  </div>
</div>
