<div class="relative overflow-x-auto shadow-md sm:rounded-lg"
    style="width: 1500px; margin-left: 60px; margin-top: 40px;">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-white uppercase bg-black dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nome da Etapa
                </th>
                <th scope="col" class="px-6 py-3">
                    Data de Cadastro
                </th>
                <th scope="col" class="px-6 py-3">
                    Nome da Disciplina
                </th>
                <th scope="col" class="px-6 py-3">
                    Editar Etapa
                </th>
                <th scope="col" class="px-6 py-3">
                    Excluir Etapa
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Estudo de viabilidade
                </td>
                <td class="px-6 py-4" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    00/00/0000
                </td>
                <td class="px-6 py-4" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Arquitetura
                </td>
                <td class="px-6 py-4">
                    <a class="font-medium text-gray-900 whitespace-nowrap dark:text-white"
                        style="margin-left: 30px; cursor: pointer;" data-modal-target="modal-edit"
                        data-modal-toggle="modal-edit">
                        <i class="fas fa-edit mr-1"></i></a>
                </td>
                <td class="px-6 py-4">
                    <a class="font-medium text-gray-900 whitespace-nowrap dark:text-white" style="margin-left: 30px; cursor: pointer;" data-modal-target="modal-delete"
                    data-modal-toggle="modal-delete">
                        <i class="fas fa-trash-alt mr-1"></i></a>
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Projeto Arquitetônico
                </td>
                <td class="px-6 py-4" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    00/00/0000
                </td>
                <td class="px-6 py-4" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Arquitetura
                </td>
                <td class="px-6 py-4">
                    <a class="font-medium text-gray-900 whitespace-nowrap dark:text-white"
                        style="margin-left: 30px; cursor: pointer;" data-modal-target="modal-edit"
                        data-modal-toggle="modal-edit">
                        <i class="fas fa-edit mr-1"></i></a>
                </td>
                <td class="px-6 py-4">
                    <a class="font-medium text-gray-900 whitespace-nowrap dark:text-white" style="margin-left: 30px; cursor: pointer;" data-modal-target="modal-delete"
                    data-modal-toggle="modal-delete">
                        <i class="fas fa-trash-alt mr-1"></i></a>
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Projeto Elétrico
                </td>
                <td class="px-6 py-4" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    00/00/0000
                </td>
                <td class="px-6 py-4" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Arquitetura
                </td>
                <td class="px-6 py-4">
                    <a class="font-medium text-gray-900 whitespace-nowrap dark:text-white"
                        style="margin-left: 30px; cursor: pointer;" data-modal-target="modal-edit"
                        data-modal-toggle="modal-edit">
                        <i class="fas fa-edit mr-1"></i></a>
                </td>
                <td class="px-6 py-4">
                    <a class="font-medium text-gray-900 whitespace-nowrap dark:text-white" style="margin-left: 30px; cursor: pointer;" data-modal-target="modal-delete"
                    data-modal-toggle="modal-delete">
                        <i class="fas fa-trash-alt mr-1"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>