<div class="relative overflow-x-auto shadow-md sm:rounded-lg table">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nome Disciplina
                </th>
                <th scope="col" class="px-6 py-3">
                    Projeto
                </th>
                <th scope="col" class="px-6 py-3">
                    Editar Disciplina
                </th>
                <th scope="col" class="px-6 py-3">
                    Excluir Disciplina
                </th>
            </tr>
        </thead>
        <tbody>
            <tr
                class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Arquitetura
                </th>
                <td class="px-6 py-4">
                    Nova Unidade Senac RJ
                </td>
                <td class="px-6 py-4">
                    <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" data-modal-target="edit-modal" data-modal-toggle="edit-modal" style="cursor: pointer">Editar</a>
                </td>
                <td class="px-6 py-4">
                    <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" data-modal-target="delete-modal" data-modal-toggle="delete-modal" style="cursor: pointer">Excluir</a>
                </td>
            </tr>
            <tr
                class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Elétrica
                </th>
                <td class="px-6 py-4">
                    Anexo Barra Shopping
                </td>
                <td class="px-6 py-4">
                    <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" data-modal-target="edit-modal" data-modal-toggle="edit-modal" style="cursor: pointer">Editar</a>
                </td>
                <td class="px-6 py-4">
                    <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" data-modal-target="delete-modal" data-modal-toggle="delete-modal" style="cursor: pointer">Excluir</a>
                </td>
            </tr>
            <tr
                class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    Fundação
                </th>
                <td class="px-6 py-4">
                    Ponte Rio-Niterói
                </td>
                <td class="px-6 py-4">
                    <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" data-modal-target="edit-modal" data-modal-toggle="edit-modal" style="cursor: pointer">Editar</a>
                </td>
                <td class="px-6 py-4">
                    <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" data-modal-target="delete-modal" data-modal-toggle="delete-modal" style="cursor: pointer">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>