<div class="fixed z-10 inset-0 overflow-y-auto hidden" aria-labelledby="modal-title" id="modal-id" role="dialog" tabindex="-1">
  <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 sm:p-0">
    <div class="fixed bg-gray-500 opacity-75 transition-opacity duration-300 ease-in-out inset-0 z-[-1]" aria-hidden="true"></div>

    <div class="w-full max-w-sm mx-auto overflow-hidden rounded-lg shadow-xl modal-container">
      <div class="modal-header bg-white shadow-md p-4 rounded-t-lg">
        <h5 class="text-xl font-medium leading-normal modal-title" id="modal-title">Create New Project</h5>
        <button type="button" class="close" data-modal-toggle="modal-id" aria-label="Close">
          <span class="text-gray-500" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <form>
          <div class="mb-3">
            <label for="projectName" class="form-label block mb-2 text-sm font-medium" for="projectName">Project Name</label>
            <input type="text" id="projectName" class="form-control block w-full px-3 py-2 rounded-md focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500" placeholder="Informe o nome do projeto">
          </div>
          <div class="mb-3">
            <label for="projectStartDate" class="form-label block mb-2 text-sm font-medium" for="projectStartDate">Start Date</label>
            <input type="date" id="projectStartDate" class="form-control block w-full px-3 py-2 rounded-md focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500" placeholder="DD/MM/AAAA">
          </div>
          <div class="mb-3">
            <label for="projectEndDate" class="form-label block mb-2 text-sm font-medium" for="projectEndDate">End Date</label>
            <input type="date" id="projectEndDate" class="form-control block w-full px-3 py-2 rounded-md focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500" placeholder="DD/MM/AAAA">
          </div>
          <div class="mb-3">
            <label for="companyName" class="form-label block mb-2 text-sm font-medium" for="companyName">Company Name</label>
            <input type="text" id="companyName" class="form-control block w-full px-3 py-2 rounded-md focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500" placeholder="Informe o nome da Empresa">
          </div>
        </form>
      </div>
      <div class="modal-footer bg-white p-4 rounded-b-lg">
        <button type="button" class="btn btn-default" data-modal-toggle="modal-id">Close</button>
        <button type="button" class="btn **btn-primary**">Save</button>  </div>
    </div>
  </div>
</div>
