<div class="relative overflow-x-auto shadow-md sm:rounded-lg" style="width: 1500px; margin-left: 60px; margin-top: 40px;">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-white uppercase bg-black dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  ID da Disciplina
              </th>
              <th scope="col" class="px-6 py-3">
                  Descrição
              </th>
              <th scope="col" class="px-6 py-3">
                  Status
              </th>
              <th scope="col" class="px-6 py-3">
                  ID do Projeto
              </th>
              <th scope="col" class="px-6 py-3">
                  Editar Disciplina
              </th>
              <th scope="col" class="px-6 py-3">
                  Excluir Disciplina
              </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let disciplinas of disciplina" class="bg-white border-b dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{disciplinas.disciplina_id}}
              </th>
              <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{disciplinas.disciplina_descricao}}
              </td>
              <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{disciplinas.disciplina_status}}
              </td>
              <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{disciplinas.projeto_id}}
              </td>
              <td class="px-6 py-4">
                  <a class="font-medium text-gray-900 whitespace-nowrap dark:text-white" style="margin-left: 40px; cursor: pointer;" data-modal-target="modal-edit" data-modal-toggle="modal-edit">
                      <i class="fas fa-edit mr-1"></i>
                  </a>
              </td>
              <td class="px-6 py-4">
                  <a class="font-medium text-gray-900 whitespace-nowrap dark:text-white" style="margin-left: 40px; cursor: pointer;" (click)="removeDisciplina(disciplinas.disciplina_id)">
                      <i class="fas fa-trash-alt mr-1"></i>
                  </a>
              </td>
          </tr>
      </tbody>
  </table>
</div>
