  <app-navbar></app-navbar>

<div id="SidBar" class="col-span-2">
  <app-menu-lateral></app-menu-lateral>
</div>

<div class="p-4 sm:ml-64 bg-gray-100" style="max-height: 200vh; overflow-y: auto; margin-top: 20px;">
  <div class="meio space-y-8 " >
    <div class="barra-esquerda"></div>

    <div class="secao1 mb-8">
      <app-calendar />
    </div>
    <div class="secao2 mb-8 ">
      <div class="secao-cards mb-8" style="width: 75%;">
        <app-cards [listaArquivos]="listaArquivos"
          [listaArquivosAprovados]="listaArquivosAprovados"
          [listaArquivosReprovados]="listaArquivosReprovados"
          [listaArquivosPendentes]="listaArquivosPendentes"
        />
      </div>
      <div class="arquivos" style="width: 35%; ">
        <app-arquivos-recentes />
      </div>
    </div>


  </div>
</div>
