.fonte-principal {
  font-size: 1.25rem;
}

.posicao{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.font-preta {
  color: black;
}

.font-azul{
  color: blue;
}
