/* Div Principal */
.principal {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  gap: 35px;
  /* margin: 0 auto; Centraliza o contêiner na página */
  margin-left: 15px;
  max-width: 1000px;  /* Define um limite máximo para a largura do contêiner */
  width: 100%;
  padding: 20px;  /* Adiciona um pouco de padding para espaçamento */
}

.cards-cima, .cards-abaixo {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card {
  background-color: #E5ECF6;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  flex: 1;
  text-align: center;
}

.card h5 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Media Queries para diferentes tamanhos de tela */
@media (max-width: 1200px) {
  .cards-cima, .cards-abaixo {
    flex-direction: column;
    gap: 10px;
  }

  .card {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .principal {
    padding: 10px;
  }

  .cards-cima, .cards-abaixo {
    flex-direction: column;
    gap: 10px;
  }

  .card {
    width: 100%;
  }
}
