<div class="principal">
  <div class="cards-cima">
    <!-- Card 1 -->
    <div class="card max-w-custom p-6 bg-cards border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="/usuarios">
        <h5 class="mb-2 text-2x1 font-semibold tracking-tight text-gray-900 dark:text-white">Total de Usuários</h5>
      </a>
      <h3>{{listaUsuarios.length}}</h3>
    </div>

    <!-- Card 2 -->
    <div class="card max-w-custom p-6 bg-cards border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <h5 class="mb-2 text-2x1 font-semibold tracking-tight text-gray-900 dark:text-white">Empresas</h5>
      <h3>{{listaEmpresas.length}}</h3>
    </div>

    <!-- Card 3 -->

    <div class="card max-w-custom p-6 bg-cards border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="/relatorio-arquivo">
        <h5 class="mb-2 text-2x1 font-semibold tracking-tight text-gray-900 dark:text-white">Quantidade de Projetos</h5>
      </a>
      <h3>{{listaProjetos.length}}</h3>
    </div>
  </div>

  <div class="cards-abaixo">
    <!-- Card 4 -->
    <div class="card max-w-custom p-6 bg-cards border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="/arquivos">
        <h5 class="mb-2 text-2x1 font-semibold tracking-tight text-gray-900 dark:text-white">Total de Arquivos</h5>
      </a>
      <h3>{{listaArquivos.length}}</h3>
    </div>

    <!-- Card 5 -->
    <div class="card max-w-custom p-6 bg-cards border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">

      <h5 class="mb-2 text-2x1 font-semibold tracking-tight text-gray-900 dark:text-white">Consumo total</h5>

        <h3>{{ tamanhoTotalProjeto ? tamanhoTotalProjeto + ' MB' : 'Dados não disponíveis' }}</h3>
    </div>

    <!-- Card 6 -->
    <div class="card max-w-custom p-6 bg-cards border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="/usuarios">
        <h5 class="mb-2 text-2x1 font-semibold tracking-tight text-gray-900 dark:text-white">Usuários Ativos</h5>
      </a>
      <h3>{{listaUsuariosAtivos.length}}</h3>
    </div>
  </div>
</div>
