<div class="principal">
  <div class="cards-cima">
    <!-- Card 1 -->
    <div class="card max-w-custom p-6 bg-cards border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
        <h5 class="mb-2 text-2x1 font-semibold tracking-tight text-gray-900 dark:text-white">Usuários</h5>
      </a>
      <h3>{{listaUsuarios.length}}</h3>
      <a href="#" class="inline-flex font-medium items-center text-blue-600 hover:underline">
        <div class="position-icon">
          <svg class="w-5 h-5 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
          </svg>
        </div>
      </a>
    </div>

    <!-- Card 2 -->
    <div class="card max-w-custom p-6 bg-cards border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
        <h5 class="mb-2 text-2x1 font-semibold tracking-tight text-gray-900 dark:text-white">Empresas</h5>
      </a>
      <h3>{{listaEmpresas.length}}</h3>
      <a href="#" class="inline-flex font-medium items-center text-blue-600 hover:underline">
        <div class="position-icon">
          <svg class="w-5 h-5 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
          </svg>
        </div>
      </a>
    </div>

    <!-- Card 3 -->
    <div class="card max-w-custom p-6 bg-cards border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
        <h5 class="mb-2 text-2x1 font-semibold tracking-tight text-gray-900 dark:text-white">Projetos</h5>
      </a>
      <h3>{{listaProjetos.length}}</h3>
      <a href="#" class="inline-flex font-medium items-center text-blue-600 hover:underline">
        <div class="position-icon">
          <svg class="w-5 h-5 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
          </svg>
        </div>
      </a>
    </div>
  </div>

  <div class="cards-abaixo">
    <!-- Card 4 -->
    <div class="card max-w-custom p-6 bg-cards border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
        <h5 class="mb-2 text-2x1 font-semibold tracking-tight text-gray-900 dark:text-white">Arquivos</h5>
      </a>
      <h3>{{listaArquivos.length}}</h3>
      <a href="#" class="inline-flex font-medium items-center text-blue-600 hover:underline">
        <div class="position-icon">
          <svg class="w-5 h-5 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
          </svg>
        </div>
      </a>
    </div>

    <!-- Card 5 -->
    <div class="card max-w-custom p-6 bg-cards border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
        <h5 class="mb-2 text-2x1 font-semibold tracking-tight text-gray-900 dark:text-white">Espaço Usado</h5>
      </a>
      <h3>2Gb</h3>
      <a href="#" class="inline-flex font-medium items-center text-blue-600 hover:underline">
        <div class="position-icon">
          <svg class="w-5 h-5 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
          </svg>
        </div>
      </a>
    </div>

    <!-- Card 6 -->
    <div class="card max-w-custom p-6 bg-cards border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
        <h5 class="mb-2 text-2x1 font-semibold tracking-tight text-gray-900 dark:text-white">Usuários Ativos</h5>
      </a>
      <h3>{{listaUsuariosAtivos.length}}</h3>
      <a href="#" class="inline-flex font-medium items-center text-blue-600 hover:underline">
        <div class="position-icon">
          <svg class="w-5 h-5 ms-2.5 rtl:rotate-[270deg]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11v4.833A1.166 1.166 0 0 1 13.833 17H2.167A1.167 1.167 0 0 1 1 15.833V4.167A1.166 1.166 0 0 1 2.167 3h4.618m4.447-2H17v5.768M9.111 8.889l7.778-7.778"/>
          </svg>
        </div>
      </a>
    </div>
  </div>
</div>
