<div class="modal w-[680px]">
  <h1 mat-dialog-title>Filtro</h1>
  <mat-dialog-content>
    <div class="grid gap-6 mb-6">
      <div>
        <label for="filterInput" class="block mb-2 text-sm font-medium text-[color:var(--cinza-principal-escuro)]">
          Nome do Arquivo
        </label>
        <input type="text" id="filterInput"
          class="bg-white border border-[color:var(--cinza-border)] text-[color:var(--cinza-principal-escuro)] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Digite o nome do arquivo" />
      </div>
    </div>
  </mat-dialog-content>
</div>
