<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nome etapa
                </th>
                <th scope="col" class="px-6 py-3">
                    data do cadastro
                </th>
                <th scope="col" class="px-6 py-3">
                    qtd. arquivos
                </th>
                <th scope="col" class="px-6 py-3">
                    empresa responsável
                </th>
                <th scope="col" class="px-6 py-3">
                    editar
                </th>
                <th scope="col" class="px-6 py-3">
                    excluir
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row"
                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white flex items-center">
                    <img src="/src/assets/images/icon etapa.png" alt="" style="width: 40px; height: 40px; margin-right: 8px;">
                    Projeto Arquitetonico
                </th>
                <td class="px-6 py-4">
                    01/02/2024
                </td>
                <td class="px-6 py-4">
                    10
                </td>
                <td class="px-6 py-4">
                    Faculdade SENAC Rio
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                        <img src="/src/assets/images/icon edit.png" alt="" style="width: 20px; height: 20px;">
                    </a>
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                        <img src="/src/assets/images/icon delete.png" alt="" style="width: 20px; height: 20px;">
                    </a>
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row"
                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white flex items-center">
                    <img src="/src/assets/images/icon etapa.png" alt="" style="width: 40px; height: 40px; margin-right: 8px;">
                    Aprovação de Projetos
                </th>
                <td class="px-6 py-4">
                    02/02/2024
                </td>
                <td class="px-6 py-4">
                    10
                </td>
                <td class="px-6 py-4">
                    Barra Shopping
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                        <img src="/src/assets/images/icon edit.png" alt="" style="width: 20px; height: 20px;">
                    </a>
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                        <img src="/src/assets/images/icon delete.png
                        " alt="" style="width: 20px; height: 20px;">
                    </a>
                </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row"
                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white flex items-center">
                    <img src="/src/assets/images/icon etapa.png" alt="" style="width: 40px; height: 40px; margin-right: 8px;">
                    Estudo de Viabilidade
                </th>
                <td class="px-6 py-4">
                    03/02/2024
                </td>
                <td class="px-6 py-4">
                    10
                </td>
                <td class="px-6 py-4">
                    Ecoponte
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                        <img src="/src/assets/images/icon edit.png" alt="" style="width: 20px; height: 20px;">
                    </a>
                </td>
                <td class="px-6 py-4 text-right">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                        <img src="/src/assets/images/icon delete.png" alt="" style="width: 20px; height: 20px;">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>