.mdc-tab {
  border-top: solid 1px !important;
  border-left: solid 1px !important;
  border-right: solid 1px !important;
  border-color: #D8D6D6 !important;
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
}

.mat-mdc-tab.mdc-tab {
  background-color: var(--cinza-principal);

  &.mdc-tab-indicator--active {
    background-color: #FFFFFF;

  }
}

.mdc-tab-indicator__content {
  display: none;
}
