<!-- <div class="p-6">

  <div class="w-full bg-white border border-gray-200 rounded-lg shadow">
    <div class="sm:hidden">
      @for (tab of tabs; track tab) {
        <label for="tabs" class="sr-only">Select tab</label>
        <select id="tabs" class="bg-gray-50 border-0 border-b border-gray-200 text-gray-900 text-sm rounded-t-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 ">
            <option>{{tab}}</option>
        </select>
      }
    </div>
    <ul class="hidden text-sm font-medium text-center text-gray-500 divide-x divide-gray-200 rounded-lg sm:flex " id="fullWidthTab" data-tabs-toggle="#fullWidthTabContent" role="tablist">
      @for (tab of tabs; track tab) {
        <li class="w-full">
          <button id="{{tab}}-tab" data-tabs-target="#stats" type="button" role="tab" aria-controls="stats" aria-selected="true" class="inline-block w-full p-4 rounded-ss-lg bg-gray-50 hover:bg-gray-100 focus:outline-none">{{tab}}</button>
      </li>
      }
    </ul>
    <app-card-list></app-card-list>
  </div>

</div> -->
<div class="w-full shadow-md">
  <mat-tab-group animationDuration="0ms">
      <mat-tab *ngFor="let tab of tabs" [label]="tab">
        <ng-container *ngIf="tabs.indexOf(tab) === 0">
          <app-file-table></app-file-table>
        </ng-container>
      </mat-tab>
  </mat-tab-group>
</div>


