<div class="modal w-[680px]">
  <h1 mat-dialog-title>Criar Lista Compartilhada</h1>
  <mat-dialog-content>
    <form class="space-y-2">
      <div>
        <label for="descricao" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descrição</label>
        <div class="flex">
          <input type="text" id="descricao" class="rounded-none rounded-r-md bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Documentação Barra Shopping">
        </div>
      </div>

      <div>
        <label for="data" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Data</label>
        <div class="flex">
          <input type="text" id="data" class="rounded-none rounded-r-md bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="19/06/2024 14:43:23">
        </div>
      </div>

      <div>
        <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Status</label>
        <div class="flex">
          <input type="text" id="status" class="rounded-none rounded-r-md bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="1">
        </div>
      </div>

      <div class="flex justify-end">
        <button type="submit"
        class=" px-5 py-2 mt-16 text-sm font-medium text-white bg-[color:var(--cinza-principal-escuro)] hover:bg-[color:var(--cinza-principal-medio)] rounded-lg text-center">
        Criar
      </button>
      </div>
