.example-tree-invisible {
  display: none;
  background-color: #262626;
}

.mat-tree-node,
.mat-tree-node .text-white {
  font-size: 16px;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  background-color: #282626;
}

.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 20px;
  background-color: #282626;

}

.example-tree div[role=group] > .mat-tree-node {
  padding-left: 20px;
  background-color: #282626;
  color: white;
}
