<div class="pb-6">
  <mat-list-item class="d-flex align-items-center">
    <mat-icon class="mr-2" style="vertical-align: middle;">business</mat-icon>
    Projeto X
  </mat-list-item>
</div>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <div class="example-tree-node hover:cursor-pointer" (click)="treeControl.toggle(node)">
      <!-- Conteúdo do nó -->
      <div class="mat-tree-node bg-[#282626] text-white ">
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror pl-3 text-white" >
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <mat-icon class="text-white text-base" aria-hidden="true">{{node.icon}}</mat-icon>
        <span class="text-white">{{node.name}}</span>
      </div>
    </div>
    <!-- Subnós -->
    <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>
