<div class="w-full h-[64px]"><app-navbar></app-navbar></div>
<div id="container-1" class="grid grid-cols-12">
  <div id="SidBar" class="col-span-2"><app-menu-lateral></app-menu-lateral></div>
  <div id="container-2" class="col-span-10 p-4">
    <div id="buscas" class="container grid grid-cols-2 align-middle border h-[42px] mb-4">
      <div id="filtros" class="flex text-center items-center justify-center col-start">Breadcrumbs</div>
      <div id="busca" class="flex justify-center col-end-">Busca</div>
    </div>
    <div id="container-3" class="grid grid-cols-10">
      <div id="table" class="col-span-6 mr-6">
        <div class="">
  <table class="bg-white w-96 rounded-lg overflow-hidden border-collapse">
    <thead class="bg-black text-xs uppercase">
      <tr>
        <th scope="col" class="px-6 py-3 text-white border border-gray-300">Descrição</th>
        <th scope="col" class="px-6 py-3 text-white border border-gray-300">Data</th>
        <th scope="col" class="px-6 py-3 text-white border border-gray-300">Status</th>
      </tr>
      <tr>
        <td colspan="3" class="bg-white px-4 py-2 text-black border border-gray-300 text-sm font-bold">Listas compartilhadas</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of ListaCompartilhada" class="border border-gray-300 hover:bg-gray-300 ">
        <td class="px-4 py-2 border border-gray-300  ">
          <button type="button" class="flex items-center w-72 text-black rounded-[7.89px] h-[32.55px] pt-[4.93px] pl-[10.93px] pb-[4.93px] pr-[14.8px]">
            {{ item.lista_compartilhada_descricao }}
          </button>
        </td>
        <td class="px-4 py-2 border border-gray-300  ">
          <button type="button" class="flex items-center w-72 text-black rounded-[7.89px] h-[32.55px] pt-[4.93px] pl-[10.93px] pb-[4.93px] pr-[14.8px]">
            {{ item.lista_compartilhada_data}}
          </button>
        </td>
        <td class="px-4 py-2 border border-gray-300  ">
          <button type="button" class="flex items-center w-full text-black rounded-[7.89px] h-[32.55px] pt-[4.93px] pl-[10.93px] pb-[4.93px] pr-[14.8px]">
            {{getStatusDescription(item.lista_compartilhada_status)}}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
      </div>
      <div id="detalhesDoArquivo" class="col-span-4">
        <div><app-tabs/></div>
      </div>
    </div>
  </div>
</div>

